{% extends 'base.html.twig' %}

{% block title %}Зоопарк:Клетки{% endblock %}

{% block body %}
    <h1>Клетки</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Животное</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for cage in cages %}
            <tr>
                <td>{{ cage.id }}</td>
                <td>{{ cage.animal.name }}</td>
                <td>
                    <a href="{{ path('cage_edit', {'id': cage.id}) }}">править</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">еще нет клеток</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cage_new') }}">Добавить</a>
    <p>
        <a href="{{ path('zoo') }}">Вернутся в зоопарк</a>
    </p>
{% endblock %}
